.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fill-window {
  background-color: #fff5e9;
  height: 100%;
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.parent {
  position: relative;
  background-color: #fff5e9;
  width: 100%;
  height: 100%;
}
.child {
  width: 90%;
  height: 35em;
  top: 50%;
  left: 50%;
  margin-top: 5%; /*set to a negative number 1/2 of your height*/
  margin-left: 5%; /*set to a negative number 1/2 of your width*/
  margin-bottom: 5%; /*set to a negative number 1/2 of your width*/
  background-color: #fffdf9;
}

.img-cover-left {
  position: absolute;
  /* position in top left of #tobecovered */
  top: 50%; /* top of #tobecovered */
  left: 0; /* left of #tobecovered */
  max-width: 144.9px;
  max-height: 283.5px;
  width: 30%;
  height: 58.6956521752%;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cover-right {
  position: absolute;
  /* position in top left of #tobecovered */
  top: 50%; /* top of #tobecovered */
  left: 88%; /* left of #tobecovered */
  max-width: 144.9px;
  max-height: 283.5px;
  width: 30%;
  height: 58.6956521752%;
}

@media screen and (max-width: 600px) {
  .img-cover-right {
    display: none;
  }
  .img-cover-left {
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
