@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap");

.change-font {
  font-family: "Arima Madurai", sans-serif !important;
  /*"Lora", serif; "Playfair Display", serif; "Arima Madurai", sans-serif !important; "Crimson Pro", serif*/
}

.change-font-2 {
  font-family: "Yusei Magic", sans-serif;
  /*"Lora", serif; "Playfair Display", serif; "Arima Madurai", sans-serif !important; Crimson Pro", serif*/
}

.App {
  text-align: center;
}

.middle img {
  max-width: 150px;
  max-height: 150px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bagel-photo {
  height: 50%;
}

.style-card {
  border: 0px !important ;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 10rem;
  width: auto;
}

.bottom-padding {
  margin-bottom: 100px;
}

#cardhover div:hover .imghover {
  transition: 0.5s ease;
  opacity: 0.3;
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

#cardhover div:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: black;
  font-size: 25px;
}

a {
  color: inherit !important;
}

.contact-padding {
  padding-left: 50px;
  padding-right: 50px;
}
.row-padding {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 12% !important;
  margin-right: 11% !important;
}

.heading-place {
  margin-top: 15px;
  margin-left: 15px;
}

.heading-place-center {
  margin-top: 15px;
  margin-left: 40%;
}

.same-line-elements {
  display: flex;
  justify-content: space-between;
}

.btn-left {
  margin-top: 15px;
  margin-right: 15px;
}

.menu-left {
  margin-top: 120px;
  margin-right: 120px;
}

.pad-menu {
  padding-left: 65%;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

#nav button:hover {
  transition: 0.5s ease;
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

#contact-icons a:hover {
  transition: 0.5s ease;
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fill-window {
  background-color: #fff5e9;
  height: 100%;
  position: relative;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.intro-pic {
  width: 400px;
  height: 426.4943457093px;
}
/*1927 1687*/
.parent {
  position: relative;
  background-color: #fff5e9;
  width: 100%;
  height: 100%;
}
.child {
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  margin-top: 5%; /*set to a negative number 1/2 of your height*/
  margin-left: 5%; /*set to a negative number 1/2 of your width*/
  margin-bottom: 5%;
  margin-right: 5%; /*set to a negative number 1/2 of your width*/
  background-color: #fffdf9;
}

.img-cover-left {
  position: absolute;
  /* position in top left of #tobecovered */
  bottom: 0%; /* top of #tobecovered 59%;*/
  left: 0; /* left of #tobecovered */
  max-width: 120.9px;
  max-height: 234.7826087008px;
  width: 30%;
  height: 58.6956521752%;
}

.img-cover-left-rec {
  position: absolute;
  /* position in top left of #tobecovered */
  bottom: 0%; /* top of #tobecovered 59%;*/
  left: 0; /* left of #tobecovered */
  max-width: 130px;
  max-height: 159.4047619013px;
}

.img-cover-left-recflower {
  position: absolute;
  /* position in top left of #tobecovered */
  bottom: 0%; /* top of #tobecovered 59%;*/
  left: 2%; /* left of #tobecovered */
  max-width: 80px;
  max-height: 195.1401869272px;
}

.img-cover-right-proj {
  position: absolute;
  /* position in top left of #tobecovered */
  /*top: 59%; /* top of #tobecovered */
  bottom: 0%;
  left: 91%; /* left of #tobecovered */
  max-width: 100px;
  max-height: 167.8571428434px;
}

.text-large {
  font-size: 150%;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cover-right {
  position: absolute;
  /* position in top left of #tobecovered */
  /*top: 59%; /* top of #tobecovered */
  bottom: -7%;
  left: 88%; /* left of #tobecovered */
  max-width: 150px;
  max-height: 165.7205240213px;
  width: 30%;
  height: 58.6956521752%;
}

.menu-items {
  position: relative;
}
@media screen and (max-width: 1135px) {
  .text-large {
    font-size: 140%;
  }

  .intro-pic {
    width: 300px;
    height: 262.6362221137px;
  }
}

@media screen and (max-width: 1181px) {
  .pad-menu {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .middle img {
    max-width: 70px;
    max-height: 70px;
  }
  .img-cover-right {
    display: none;
  }
  .img-cover-left {
    display: none;
  }
  .intro-heading {
    padding-left: 40px;
    padding-right: 30px;
  }
  .intro-body {
    padding-left: 40px;
    padding-right: 30px;
  }
  .text-large {
    font-size: 130%;
  }

  .intro-pic {
    width: 300px;
    height: 262.6362221137px;
  }

  .img-cover-left-rec {
    display: none;
  }
  .menu-items {
    display: none;
  }
  .row-padding {
    top: 50%;
    left: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  .row-padding {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  .style-card {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 5rem;
    width: auto;
  }

  .text {
    color: black;
    font-size: 16px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
